<plugin name='address-lookup-zpfour' version='0.1.2' grailsVersion='1.2.2 &gt; *'>
  <author>Aaron J. Zirbes</author>
  <authorEmail>ajz@umn.edu</authorEmail>
  <title>Provides plugin-interface to Address Lookups via a Semaphore ZP4 HTTPSERV</title>
  <description>\
Provides address lookup service and tags so you can easily add address lookups to your web app if you
have a ZP4 HTTPSERV service from Semaphore corp running on your network.

From their website:

http://www.semaphorecorp.com/cgi/zp4.html

ZP4 is a DVD-ROM containing United States addresses, ZIP + 4® codes, 
mail carrier route numbers, and other supplemental postal databases 
(all maintained by the Postal Service™), plus complete automatic 
CASS Certified™ address correction software for Windows computers.

This plugin assumes you already have a valid ZP4 DVD, and your Grails app 
abides by the license agreements: Only accessed by your company, only installed
on one computer, etc...

For details, see: http://www.semaphorecorp.com/cgi/faq.html#21

I, Aaron Zirbes, the author have no affiliation with Semaphore corp, other than that I am a 
satisfied paying customer.  Their DVD is much more affortable than many similar products
available on the market.
</description>
  <documentation>http://grails.org/plugin/address-lookup-zpfour</documentation>
  <resources>
    <resource>Config</resource>
    <resource>UrlMappings</resource>
    <resource>com.semaphorecorp.zp4.AddressLookupController</resource>
    <resource>com.semaphorecorp.zp4.AddressService</resource>
    <resource>com.semaphorecorp.zp4.ZpTagLib</resource>
  </resources>
  <dependencies>
    <plugin name='jquery' version='1.4.2.1 &gt; *' />
  </dependencies>
  <behavior />
</plugin>